* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #222222;
}

a {
    font-weight: bold;
    position: fixed;
    top: 24px;
    left: 24px;
    text-decoration: none;
    font-size: 1.4rem;
    color: blue;
}

h1 {
    font-size: 1.4rem;
    margin-bottom: 32px;
    text-align: center;
    font-weight: bold;
    color: rgb(11, 11, 104);
}

h2 {
    font-size: 1rem;
    color: rgb(4, 4, 31);
    font-weight: normal;
}

h3 {
    color: rgb(9, 9, 58);
    margin-top: 32px;
}

button {
    border: none;
    background-color: rgb(255, 94, 0);
    font-weight: bold;
    padding: 4px 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(211, 85, 12);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    gap: 16px;
}

div#root {
    width: 100%;
    max-width: 700px;
}

ul {
    list-style-type: none;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 24px;
}

select {
    border: none;
    background-color: rgb(12, 17, 37);
    padding: 4px;
    color: white;
    font-weight: bold;
    height: 100%;
}

ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 30px;
    background-color: white;
    color: #222222;
    box-shadow: 0px 1px 2px #22222230;
    user-select: none;
}

span.info {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 1rem;
    align-items: center;
    width: fit-content;
    padding: 8px;
    padding: 8px;
    width: 100%;
}

li.duvida > select {
    background-color: rgb(46, 40, 40);
}

li.desfalque > select {
    background-color: rgb(175, 31, 31);
}

li.confirmado > select {
    background-color: rgb(23, 131, 21);
}

li > button {
    border: none;
    height: 100%;
    padding: 0 4px;
    font-size: 1rem;
    background-color: rgb(10, 8, 27);
    color: white;
    cursor: pointer;
    width: 30px;
    font-weight: bold;
}

div#modal-criacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #22222230;
}

div#modal-criacao > h2 {
    width: 100%;
    max-width: 500px;
    background-color: rgb(25, 25, 73);
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px 0;
}

div#modal-criacao > form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    padding: 8px;
    background-color: white;
    gap: 8px;
}

.hidden {
    display: none !important;
}

form > input {
    padding: 4px;
    border: none;
    font-size: 1rem;
}

form > input:focus {
    outline: 2px solid orange;
}

form > button[type="button"] {
    background-color: rgb(41, 41, 41);
}

div#modal-confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #22222230;
}

div#modal-confirmacao > div {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 8px;
    gap: 16px;
}

div#modal-confirmacao > div > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
